<!-- templates/post_new.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="post-entry">
<p>Thank you for your interest in Cinagi Gap</p>
<p>One of your expereiced healthcare consutants will be in contact to cover any questions you might have</p>
<p>If you dont have any questions and would proceed tyo join you can use the click below.</p>
    <br>

    </div>

<a href="https://www.cinagi.co.za/application-form/" class="btn btn-primary">Join Now!</a>

{% endblock %}
